:root {
    --primario: #4f46e5;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #374151;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h2 {
    font-size: 12px;
}

.fondo_negro {
    background-color: black;
    padding: 10px 0px;
}

.menu {
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu_texto {
    color: white;
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.menu_rojo{
display: flex;
justify-content: space-between;
gap: 5px;
}
.rojo {
    color:white ;
    background-color: red;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    bottom: 7px;
    padding: 4px;
    
}

.logo {
    width: 175px;
}

/*-------------------BANNER1-------------------*/


.banner1_color__fondo {
    background-color: #f3f4f6;
}

.banner1__caja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    padding: 60px 0px;
}

.banner1__columnaIzq {
    padding: 32px;
    width: 47%;
}

.banner1__titulo {
    font-weight: 700;
}

.banner1__bajada {
    font-size: 18px;
    margin: 10px 0;
}

.banner1__a {
    font-weight: 700;
    text-decoration: underline;
    color: #374151;
    text-transform: uppercase;
}






.banner1__columnaDer {
    border-radius: 10px;
    border-style: dashed;
    color: #a1a1aa;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 40%;
}

.banner1__columnaDer__botonlila {
    background-color: #4f46e5;
    color: white;
    border-radius: 100px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonlila_texto {
    font-size: 20px;
    font-weight: 900;
}

.banner1__columnaDer__bajada {
    color: #9ca3af;
}

.botonlila__subida {
    width: 30px;
    margin-right: 10px;
}

/*-------------------BANNER2-------------------*/

.banner2 {
    text-align: center;
    margin: 30px 0;
}

.banner2 p {
    color: #4f46e5;
    font-size: 1rem;
    text-transform: uppercase;
}

.banner2 h2 {
    font-size: 30px;
    font-weight: 800;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-style: solid 2px #9ca3af;
    padding: 40px;
    align-items: center;
    width: 20%;
    box-shadow: 0 5px 10px rgba(122, 122, 122, 0.05)
}

.tarjeta-vacia {
    width: 20%;
    padding: 40px;

}

.tarjeta h3 {
    font-size: 20px;
    color: #374151;
}

.tarjeta img {
    width: 100px;
}

.tarjeta p {
    font-size: 20px;
    text-align: center;
}

.banner2_section2 {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 60%;
    margin: 0 auto;
}

.banner2_section3 {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 60%;
    margin: 0 auto;
}

/*-------------------BANNER3 y 4-------------------*/


.banner3 {
    background-color: #F3F4F6;
}

.banner3__caja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    padding: 60px 0px;
}

.banner3__columnaIzq {
    width: 50%;
}

.imangen__banner3 {
    width: 100%;
}

.banner3__columnaDer {
    padding: 60px;
    width: 50%;

}

.banner3__titulo {
    font-size: 2rem;
    padding: 5px 0px;
}

.banner3__texto{
    padding: 10px 0px;
    color: #6b7280;
    line-height: 25px;
    line-height: 25px;


}
.banner3__cajas{
    padding-top: 20px;
    align-items: center;
    color: #6b7280;
}

.caja{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 90%;
    font-size: 15px;
}
.caja__arriba{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.caja__abajo{

    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

.mano{
    height: 40%  ;

}

/*-------------------BANNER5-------------------*/

.banner5 {
    text-align: center;
    margin: 30px 0;
}

.banner5 p {
    color: #4f46e5;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.banner5 h2 {
    font-size: 30px;
    font-weight: 800;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    border-style: solid 2px #9ca3af;
    padding: 40px 15px;
    align-items: center;
    width: 20%;
    box-shadow: 0 5px 10px rgba(122, 122, 122, 0.05);
    line-height: 25px;
   
}

.tarjeta img {
    width: 100px;
}

.tarjeta p {
    font-size: 16px;
    text-align: center;
}

.banner5_section5 {
    display: flex;
    justify-content: center;
    gap: 1px;
    width: 60%;
    margin: 0 auto;
}

.negrita{
    font-weight: 500;
    font-size: 12px;

}

/*-------------------BANNER6-------------------*/

.b6{
    box-shadow: 10px 0px 0px 0px rgba(.1,0,0,.1),0 4px 6px -4px rgba(0,0,0,.2);
    padding-bottom: 40px;
    background-color: #F3F4F6;
}
.banner6 {
    text-align: center;
    margin: 30px 0;

}

.banner6 p {
    color: #4f46e5;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.banner6 h2 {
    font-size: 30px;
    font-weight: 800;
}

.tarjeta6 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-style: solid 2px #9ca3af;
    width: 50%;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.2);
    border-radius: 0.75rem;
    padding: 20px;
    background-color: #ffffff;

}


.tarjeta6 p {
    font-size: 16px;
}

.banner6_section2 {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/*-------------------FOOTER-------------------*/

.bf{
    background-color: #111827;

}

.banner_footer{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
h4{
color:  #F3F4F6;
font-size: 20px;
padding: 1rem;

}
.footer_texto{
    color: #9ca3af; 
    padding: 5px;  
}

.footer_der{
    margin: 0 auto;
    width: 80%;
    display: flex;
    gap: 5rem;

}

.footer_grande{
    width: 50%;
}

.footer_der_container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    

}

.footer_tarjeta{
    margin: 0 auto;
    width: 80%;
}

.footer_tarjeta_vacio{
    margin: 0 auto;
    width: 40%;
}



.footer_abajo{
    width: 40%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #9ca3af;
    padding: 50px 0;
    font-size: 14px;
}

.idiomas{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    
}
.banderas{
    display: flex;
    justify-content: space-between;
    
    
}

.flag{
    width: 25%;
    height: auto;
}